aiofiles==23.1.0
aiogram==3.0.0
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
APScheduler==3.10.4
async-generator==1.10
async-timeout==4.0.3
asyncssh==2.13.2
attrs==23.1.0
autopep8==1.6.0
Babel==2.9.1
bcrypt==4.0.1
beautifulsoup4==4.10.0
betterlogging==0.2.1
cachetools==4.2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
clickhouse-driver==0.2.3
coloredlogs==15.0.1
cryptography==41.0.3
data==0.4
decorator==5.1.1
django-qrcode==0.3
dnspython==2.4.2
dropbox==12.0.2
environs==9.5.0
executor==23.2
fasteners==0.18
frozenlist==1.4.0
funcsigs==1.0.2
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gspread==6.2.1
gspread-dataframe==4.0.0
h11==0.13.0
httplib2==0.22.0
humanfriendly==10.0
idna==3.4
jmespath==0.10.0
Js2Py==0.71
loguru==0.7.1
magic-filter==1.0.11
marshmallow==3.20.1
motor==3.1.2
mpmath==1.2.1
multidict==6.0.4
numpy==1.22.2
oauthlib==3.3.1
opencv-python==4.6.0.66
outcome==1.1.0
packaging==23.1
pandas==1.4.1
paramiko==3.3.1
Pillow==9.1.1
ply==3.11
property-manager==3.0
proto-plus==1.26.1
protobuf==6.32.0
psycopg2-binary==2.9.7
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.8.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
pyjsparser==2.7.1
pymongo==4.3.3
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.2.3
pypng==0.20220715.0
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==13.11
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pyzbar==0.1.9
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.8
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
stone==3.3.1
sympy==1.9
Telethon==1.24.0
toml==0.10.2
tornado==6.1
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.7.1
tzdata==2021.5
tzlocal==5.0.1
uritemplate==4.2.0
urllib3==2.0.4
verboselogs==1.7
wsproto==1.0.0
yarl==1.9.2
YooMoney==0.1.0
